* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  background: #020617;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 600;
}

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #020617, #0f172a);
}

.hero h1 {
  font-size: 3rem;
}

.typing {
  margin-top: 10px;
  color: #38bdf8;
}

.btn {
  margin: 20px 10px;
  padding: 12px 25px;
  background: #38bdf8;
  color: #020617;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.btn.outline {
  background: transparent;
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

/* Sections */
.section {
  padding: 80px 50px;
  text-align: center;
}

.dark {
  background: #020617;
}

/* About */
.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  margin-top: 40px;
}

.about-card {
  background: #020617;
  padding: 25px;
  border-radius: 12px;
}

/* Projects */
.projects-container {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.project-card {
  width: 280px;
  background: #0f172a;
  padding: 25px;
  border-radius: 12px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
}

/* Contact */
.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.social-links a {
  color: #38bdf8;
  text-decoration: none;
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: #38bdf8;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

/* Footer */
footer {
  padding: 20px;
  background: #020617;
  text-align: center;
}
